In [3]:
import pandas as pd
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, StratifiedKFold

In [5]:
data = pd.read_csv('diabetes.csv')

In [7]:
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [17]:
from sklearn.ensemble import RandomForestClassifier
X = data.iloc[:,0:8]
Y = data.iloc[:,8]
kfold = StratifiedKFold(n_splits = 10,random_state = 2023, shuffle = True)
model = RandomForestClassifier(n_estimators = 200,random_state = 20,max_depth = None)
results = cross_val_score(model,X,Y,cv = kfold)
print(results)
print(results.mean())

[0.75324675 0.79220779 0.74025974 0.77922078 0.68831169 0.74025974
 0.77922078 0.75324675 0.77631579 0.75      ]
0.755228981544771